
@{
    ViewBag.Title = "ModelRealTimeByMonOrWeek";
    Layout = "";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12" style="margin:20px">
            <div id="modelChartTitle" style="text-align:center"></div>
            <div id="modelChart"></div>
            <div id="modelChartWeek" class="col-sm-4 col-md-4 col-lg-4">
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/highCharts")
@Scripts.Render("~/bundles/CommonScript")
@Scripts.Render("~/bundles/ModelRealTimeByMonOrWeek")